<div data-role="kowal-fbpixel-atc" style="display:none;">

</div>
<script type="text/x-magento-init">
    {
        "[data-role='kowal-fbpixel-atc']":
            {
                "Magento_Ui/js/core/app": <?= $block->getJsLayout();?>
            }
    }
</script>
