<div data-role="kowal-fbpixel-subscribe" style="display:none;">
</div>
<span class="kowal-subscribe-email" style="display:none;"></span>
<span class="kowal-subscribe-id" style="display:none;"></span>
<script type="text/x-magento-init">
    {
        "[data-role='kowal-fbpixel-subscribe']":
            {
                "Magento_Ui/js/core/app": <?= $block->getJsLayout();?>
            }
    }
</script>
